<a href="https://colab.research.google.com/github/IvanLudvig/eggcounting/blob/master/dromes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
from urllib.request import urlopen

In [2]:
with urlopen('https://raw.githubusercontent.com/IvanLudvig/eggcounting/master/data/data1.json') as f:
    data = json.load(f)['messages']
    df = pd.DataFrame(data)

In [3]:
df['user'] = df['author'].map(lambda x: x['name'])
df = df[df['content'].str.isnumeric()]
df = df[['id', 'timestamp', 'content', 'user']]

# Dromes

In [4]:
palindromes = [i for i in df['content'] if(i == i[::-1])]
df = df[df['content'].isin(palindromes)]

In [5]:
dromes_df = df['user'].value_counts(sort=True).reset_index()
dromes_df.columns = ['user', 'counts']
dromes_df.index += 1

In [6]:
dromes_df

                          user  counts
1                     Whit4You     379
2   brainlet ü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•öü•ö     365
3               thelegendary08     130
4                        const      36
5               FortniteDude70      34
6        Pranoodlesüçú (she/her)      32
7              country croocks      17
8                       ob69jl      17
9                      striker      15
10                   Dawidluna      10
11                        core       6
12                        nodu       6
13                         0_0       5
14                      upvoid       4
15                   blueisgod       3
16           purple [she/they]       2
17                        Keel       2
18                  Lv.99 Kira       1
19                  ben1996123       1
20                 Brendan7625       1