<a href="https://colab.research.google.com/github/IvanLudvig/eggcounting/blob/master/eggcounting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import json

In [ ]:
with open('/content/drive/MyDrive/eggcounting/data0.json') as f:
    data = json.load(f)['messages']
    df = pd.DataFrame(data)

In [ ]:
df = df[['id', 'timestamp', 'content', 'author']]

In [ ]:
df.head()

                   id  ...                                             author
0  886460807087550536  ...  {'id': '788951038971215924', 'name': 'thelegen...
1  886460808425537597  ...  {'id': '788951038971215924', 'name': 'thelegen...
2  886460810455580732  ...  {'id': '788951038971215924', 'name': 'thelegen...
3  886460811722227713  ...  {'id': '788951038971215924', 'name': 'thelegen...
4  886460813790023730  ...  {'id': '788951038971215924', 'name': 'thelegen...

[5 rows x 4 columns]

In [ ]:
df['user'] = df['author'].map(lambda x: x['name'])

In [ ]:
df.head()

                   id  ...            user
0  886460807087550536  ...  thelegendary08
1  886460808425537597  ...  thelegendary08
2  886460810455580732  ...  thelegendary08
3  886460811722227713  ...  thelegendary08
4  886460813790023730  ...  thelegendary08

[5 rows x 5 columns]

In [ ]:
df.groupby(['user']).size()

user
0-0                        103
Brendan7625                100
Dawidluna                  312
FortniteDude70             662
GermanMgr14 [ARG]            1
Grinch the mean one         34
Keel                         1
Lv.99 Kira                  51
Pranoodlesüçú (she/her)     2505
Solarœü                       2
Trial-Name                   6
Whit4You                 22956
anonymousdeveloper           2
ben1996123                  18
brainlet                 19928
const                     3892
core                       511
country croocks            202
nodu                       295
ob69jl                    1715
puds <3                      1
purple [she/they]          221
striker                   1571
thelegendary08            3606
upvoid                     253
dtype: int64

In [ ]:
df.head()

                       id  ...            user
0      886460807087550536  ...  thelegendary08
1      886460808425537597  ...  thelegendary08
2      886460810455580732  ...  thelegendary08
3      886460811722227713  ...  thelegendary08
4      886460813790023730  ...  thelegendary08
...                   ...  ...             ...
56022  892996985773236255  ...            Keel
57814  893139993927749702  ...      Trial-Name
57815  893140013980717056  ...      Trial-Name
57816  893140018892251156  ...      Trial-Name
57817  893140022092529736  ...      Trial-Name

[107 rows x 5 columns]