<a href="https://colab.research.google.com/github/IvanLudvig/eggcounting/blob/master/hoc_100k.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
%%html
<style>
div.input {
    display:none;
}
</style>

In [2]:
import pandas as pd
import numpy as np
import json
from datetime import datetime
from urllib.request import urlopen

In [3]:
with urlopen('https://raw.githubusercontent.com/IvanLudvig/eggcounting/master/data/data1.json') as f:
    data = json.load(f)['messages']
    df = pd.DataFrame(data)

In [4]:
df['user'] = df['author'].map(lambda x: x['name'])
df = df[df['content'].str.isnumeric()]
df = df[['id', 'timestamp', 'content', 'user']]

In [5]:
df['content'] = df['content'].astype(int)

In [6]:
df = df[df['content'] < 1e5]

# HoC 100k

In [7]:
counts_df = df['user'].value_counts(sort=True).reset_index()
counts_df.columns = ['user', 'counts']
counts_df.index += 1

In [8]:
counts_df[:10]

                          user  counts
1                     Whit4You   37173
2   brainlet 🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚🥚   36143
3               thelegendary08    6336
4                        const    3892
5        Pranoodles🍜 (she/her)    3524
6                       ob69jl    1715
7              country croocks    1610
8                      striker    1571
9               FortniteDude70     759
10                   Dawidluna     718